.header-logo {
    display: flex;
    align-items: center;
    margin-right: 16px;
  }

  .header-search-icon {
    display: flex;
    align-items: center;
    padding: 0 8px;
    color: #757575;
    width: 25px;
    border: none;
  }

  .header-search {
    flex-grow: 0.5;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #f2f2f2;
  }

  .header-search input {
    padding: 8px;
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 14px;
  }

  .header-profile {
    display: flex;
    align-items: center;
  }

  .header-logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  .header-logo img {
    width: 94px;
    height: 31px;
  }

  .header{
    z-index: 2 !important;
  }
